html, body {
    margin: 0;
    padding: 0;
  }
  .matcher__header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    box-shadow: 2px 0 13px rgba(0,0,0,0.2);
    background: #fafafa;
  }
  
  .matcher__header h1 {
    font-family: ProximaNova, Raleway;
    margin: 0;
    text-align: center;
    color: #002b54
  }
  
  .text-center {
    text-align: center;
  }
  
  .matcher {
    max-width: 1300px;
    margin: auto;
    margin-bottom: 2%;
    position: relative;
    padding: 0 15px;
  }
  
  .matcher__instructions {
    padding: 15px 0;
    font-family: Raleway, Arial;
    color: #6a737b;
    text-align: center;
  }

  .matcher__instructions p {
    margin: 0;
  }

  @media print {
    .matcher__instructions {
      display: none;
    }

    .matcher__utilities {
      display: none;
    }

    .controls {
      display: none;
    }

    .-pagination {
      display: none !important;
    }

    .ReactTable {
      font-size: 14px;
    }
  }

  .matcher__section-header {
    font-family: ProximaNova, Raleway;
    color: #0d76bd;
    font-size: 
  }

  .matcher__accent {
    width: 120px;
    height: 3px;
    background: #faa634;
    margin: 20px auto;
  }

  .progress__container {
    padding: 0 15px;
  }

  .progress__label {
    display: block;
    color: #6a737b;
    font-size: 1.25rem;
    margin-bottom: .5rem;
    font-family: ProximaNova, Raleway;
  }
  
  .progress__wrapper {
    width: 100%;
    margin: auto;
    background: #ddd;
    height: 30px;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 45px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .progress__bar {
    height: 30px;
    background: #faa634;
    width: 0;
    transition: all 1s ease-in-out;
  }

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    min-height: 200px;
    background: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader__text {
    background: rgba(255,255,255,0.7);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border: 1px solid #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6a737b;
    font-size: 18px;
    font-family: ProximaNova, Raleway;
    padding: 15px;
  }
  
  .matcher__legend {
    display: flex;
    color: #fff;
    font-family: Raleway, ProximaNova;
    /* background: #0d76bd; */
  /*   border-top-right-radius: 3px;
    border-top-left-radius: 3px; */
    padding: 5px 0;
  }

  @media screen and (max-width: 768px) {

    .matcher {
      padding: 0;
    }
    
    .matcher__legend {
      display: none;
    }
  }
  
  .matcher__col {
    padding: 10px;
  }
  
  .matcher__col--lg {
    width: 25%;
  }
  
  .matcher__col--sm {
    width: 12.5%;
  }

  @media screen and (max-width: 768px) {
    .matcher__col--sm, .matcher__col--lg {
      width: 100%;
      box-sizing: border-box;
      transition: all .3s;
    }

    .matcher__col--sm:hover, .matcher__col--lg:hover {
      background: #eee;
    }
  }
  
  .matcher__col--33 {
    width: 33.33%;
  }
  
  .matcher__col--flex {
    display: flex;
    flex: 1;
  }
  
  .matcher__legend-label {
    font-weight: bold;
    display: block;
  }

  .counter__wrapper {
    display: flex;
    justify-content: center;
    color: #6a737b;
    font-family: Arial;
    padding: 5px 0;
    font-size: 14px;
  }
  
  .matcher__border {
    /* border-right: 1px solid #ddd;
    border-left: 1px solid #ddd; */
    position: relative;
    padding: 0 20px 20px;
    background-image: url("https://www.virtualcareersystem.com/Portals/0/Images/skills_matcher/gradient.svg");
    background-size: cover;
    border-radius: 4px;
  }

  .matcher__border--skills {
    padding: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

  }

  @media screen and (max-width: 768px) {
    .matcher__border {
      padding: 15px;
    }
  }

  .matcher__questions {
    border-radius: 4px;
    overflow: hidden;
  }
  
  .matcher__row {
    display: flex;
    font-family: Raleway, Arial;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    background: #fff;
  }

  .matcher__row:nth-of-type(even) {
    background: #eee;
    border-top: 1px solid #6a737b;
    border-bottom: 1px solid #6a737b;
  }

  .matcher__row:last-of-type {
    border-bottom: none;
  }
  
  .question {
    width: 33.33%;
    padding-left: 55px;
    padding-right: 10px;
  }
  
  .question__area {
    display: block;
    font-family: ProximaNova, Raleway;
    font-weight: bold;
    margin-top: 0;
    color: #0d76bd;
    font-size: 18px;
  }
  
  .question__number {
    color: #0d76bd;
    font-weight: bold;
    position: absolute;
    font-size: 16px;
    transform: translateX(-45px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #faa634;
  }
  
  .question__text {
    display: block;
    color: #6a737b;
  }
  
  .answers {
    display: flex;
    flex: 1;
  }
  
  .answers__radio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .answers__radio input {
    opacity: 0;
    position: absolute;
    z-index: -100;
  }
  
  .answers__custom-radio {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #bbb;
    background: #eee;
    margin-bottom: 10px;
  /*   border: 1px solid #999; */
    cursor: pointer;
    transition: all .6s;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2), 2px 2px 5px rgba(0,0,0,0.3);
  }

  .answers__label--mobile {
    font-family: ProximaNova, Raleway;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    display: none;
    margin-right: 10px;
  }

  @media screen and (max-width: 768px) {
    .matcher__row {
      flex-direction: column;
      padding: 0 0 20px 0;
    }

    .matcher__row:nth-of-type(even) {
      background: #fff;
    }

    .question {
      width: 100%;
      box-sizing: border-box;
      border-bottom: 1px solid #ddd;
      background: #fafafa;
      padding-top: 20px;
    }

    .answers {
      flex-direction: column;
    }

    .answers__radio {
      flex-direction: row;
      justify-content: flex-start;
    }

    .answers__custom-radio {
      margin-right: 10px;
      margin-bottom: 0;
    }

    .answers__label--mobile {
      display: inline;
    }
  }
  
  
  .answers__radio:hover > input:not(:checked) + .answers__custom-radio {
    background: #ccc;
  }
  
  .answers__radio > input:checked + .answers__custom-radio {
    background: #16a0db;
  /*   border: 1px solid #0d76bd; */
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3), 2px 2px 5px rgba(0,0,0,0.3);
    animation: select .6s 1;
    border: 1px solid transparent;
  }
  
  @keyframes select {
    0% {
      transform: scale(1)
    }
    
    45% {
      transform: scale(1.3) translateY(-7px);
      background: #07b4ff;
      
    }
    
    75% {
      transform: scale(1) translateY(0);
      background: #16a0db;
    }
  }
  
  /* .matcher__col--sm .answers__radio .answers__custom-radio {
    width: 20px;
    height: 20px;
  } */
  
  
  .answers__label {
    text-align: center;
    color: #6a737b;
    transition: all .3s;
  }

  @media screen and (max-width: 962px) {
    .answers__label {
      font-size: 14px;
    }
  }

  @media screen and (max-width: 768px) {
    .answers__label {
      flex: 1;
    }
  }
  
  .answers__radio > input:checked + .answers__custom-radio + .answers__label--mobile + .answers__label {
    /* font-weight: bold; */
    color: #333;
  }
  
  .sr-only {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    
  }

  .controls--center {
    justify-content: center;
  }
  
  .controls__btn {
    font-family: Raleway, ProximaNova;
    padding: 9px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .4s;
    border: none;
    font-size: 16px;
  }
  
  .controls__btn--blue {
    background: #0d76bd;
    color: white;
  }
  
  .controls__btn--blue:hover {
    background: #16a0db;
  }
  
  .controls__btn--green {
    background: #a0cf67;
    color: #fff;
  }
  
  .controls__btn--green:hover {
    background: #54b948;
  }
  
  .controls__btn--orange {
    background: #faa634;
    color: white;
  }
  
  .controls__btn--orange:hover {
    background: #f26122;
  }
  
  .controls__btn--disabled {
    background: #ddd;
    color: white;
  }

  .controls__btn--back {
    display: block;
    color: white !important;
    width: 75px;
    text-align: center;
  }

  .controls__btn--back:hover {
    text-decoration: none;
  }
  
  .results__table {
    font-family: Raleway, Arial;
    color: #6a737b;
  }

  
  @media screen and (max-width: 768px) {
    .results__table {
      font-size: 14px;
    }
  }

  .ReactTable {
    border: none !important;
  }
  
  .results__table-head {
    /* background: #0d76bd; */
    color: #fff;
    font-family: ProximaNova, Raleway;
    font-weight: bold;
    min-width: 58px;
  /*   padding: 10px !important; */
  }

  .rt-th {
    border-right: none !important;
  }
  
  .ReactTable .rt-thead .rt-th.-sort-asc {
    box-shadow: inset 0 3px 0 0 rgba(255,255,255,0.6) !important;
  }
  
  .ReactTable .rt-thead .rt-th.-sort-desc {
    box-shadow: inset 0 -3px 0 0 rgba(255,255,255,0.6) !important;
  }

  .rt-tbody {
    background: #fff;
  }

  .rt-tr.-odd {
    background: #fff !important;
  }

  .rt-tr.-even {
    background: #eee;
    border-top: 1px solid #6a737b;
    border-bottom: 1px solid #6a737b;
  }

  .rt-tr-group:last-child {
    border-bottom: none;
  }

  .rt-thead, .rt-tbody {
    min-width: 100% !important;
  }
  
  .rt-td {
    min-width: 55px;
  }
  
  .mobile__label {
    font-family: ProximaNova, Raleway;
    color: #333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
    display: none;
  }
  
  @media screen and (max-width: 650px) {
    .rt-tr {
      flex-direction: column;
    }
    .results__table-head {
      width: 100% !important;
      max-width: 100% !important;
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }

    .rt-resizer {
      width: 18px !important;
      right: 0 !important;
    }

    .rt-td {
      width: 100% !important;
      justify-content: center;
      overflow: initial !important;
    }
    
    .results__td {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    
    .results__link {
      text-align: center;
    }
    
    .mobile__label {
      display: inline;
      padding-right: 15px;
      text-align: center;
    }
  }

  @media screen and (max-width: 480px) {
    .mobile__label {
      display: block;
      padding: 0;
    }
  }
  
  .ReactTable .-pagination {
    padding: 15px !important;
    background: #fff;
  }
  
  .results__rank {
    color: #0d76bd;
    width: 35px;
    height: 35px;
    border: 1px solid #faa634;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
  }
  
  .results__title {
    font-weight: bold;
  }
  
  .results__wages {
    text-align: center;
  }
  
  .results__dollar {
    color: #54b948;
    
  }
  
  .results__edu {
    text-align: center;
  }
  
  .results__outlook {
    text-align: center;
  }
  
  .results__outlook--bright {
    color: #faa634;
    font-weight: bold;
  }
  
  .results__outlook--below {
    color: #d15353;
  }

  .ReactTable .-pagination .-next,   .ReactTable .-pagination .-previous {
    display: flex;
    align-items: stretch;
  }
  
  .ReactTable .-pagination .-btn {
    background: #0d76bd !important;
    color: #fff !important;
    transition: all .3s;
    width: 100px !important;
    margin: auto;
  }
  
  .ReactTable .-pagination .-btn:not([disabled]):hover {
    background: #16a0db !important;
  }
  
  /* Custom modal styles */
  
  .custom-modal {
      position: absolute;
      top: 0;
      right: 0;
  /*     bottom: 0; */
      left: 0;
      z-index: 1050;
      padding: 3em 10px;
      overflow: hidden;
      outline: 0;
      background: rgba(0,0,0,0.6);
      animation: modal-fade .3s linear;
      min-height: 100vh;
  }
  
  @keyframes modal-fade {
    from { opacity: 0 }
    to { opacity: 1 }
  }
  
  @keyframes modal-window-slide {
    from { opacity: 0; transform: translateY(-100%) }
    to { opacity: 1; transform: translateY(0) }
  }
  
  .custom-modal .window {
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    background: white;
    border-radius: 5px;
    padding: 20px;
    animation: modal-window-slide .5s linear;
  }
  
  .modal-close {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: #222;
    color: white;
    font-family: Oswald;
    font-weight: bold;
    box-sizing: border-box;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(40%, -40%);
    cursor: pointer;
  }
  
  .modal-close i.fa-times {
    color: white;
  }
  
  /* End Custom Modal styles */
  
  .results__list-info {
    font-family: Raleway, Arial;
    color: #6a737b;
    padding: 15px 0;
    margin: 0;
  }

  .skill-list {
    max-width: 1200px;
    margin: auto;
  }

  .skill-list__link {
    display: block;
    margin: 15px auto 0 auto;
    width: 100px;
    text-decoration: none;
    color: white !important;
  }

  .skill-list__menu {
    display: flex;
    justify-content: center;
  }

  .skill-list__tab {
    background: #0d76bd;
    padding: 10px 15px;
    color: white;
    font-family: ProximaNova, Raleway;
    font-size: 18px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    cursor: pointer;
    margin: 0 10px;
    transition: all .4s;
  }

  .skill-list__tab:first-child {
    margin-left: 0;
    border-bottom-left-radius: 0;
  }

  .skill-list__tab:last-child {
    margin-right: 0;
    border-bottom-right-radius: 0;
  }

  .skill-list__tab--selected {
    align-self: stretch;
  }

  .skill-list__icon {
    width: 40px;
    margin-right: 10px;
    display: none;
  }

  .skill-list__icon--show {
    display: block;
  }

  @media screen and (max-width: 600px) {
    .skill-list__tab {
      margin: 0;
      flex: 1;
      flex-direction: column;
      border-radius: 0;
      border: 1px solid rgba(0,0,0,0.1);
    }

    .skill-list__icon {
      margin-right: 0;

    }
  }

  .skill-list__back-wrapper {
    padding: 15px 15px 15px 40px;
  }
  
  .skill-list__title {
    font-family: ProximaNova, Raleway;
    color: #0d76bd;
    text-align: center;
  }

  .skill-list__content {
    padding: 15px;
    border-radius: 4px;
    background: #fff;
  }
  
  
  .skill-list__list {
    font-family: Raleway, Arial;
    color: #6a737b;
    list-style: disc;
    margin-left: 18px !important;
  }
  
  .skill-list__item {
    padding-bottom: 10px;
  }
  
  .skill-list__name {
    font-weight: bold;
    color: #0d76bd;
    display: block;
    font-family: ProximaNova, Raleway;
  }

  .matcher__utilities {
    padding: 15px 0;
  }

  @media screen and (max-width: 480px) {
    .matcher__utilities--hide {
      display: none;
    }
  }

  @media print {
    .matcher__utilities {
      display: none;
    }
  }

  .btn--utility {
    background: #ddd;
    color: #6a737b;
    border-radius: 4px;
    border: none;
    padding: 9px 10px;
    cursor: pointer;
    font-family: Raleway, Arial;
    font-size: 16px;
  }

  .disclaimer {
    font-size: 12px;
    max-width: 700px;
    border: 1px solid #eee;
    padding: 8px;
    text-align: center;
    margin: auto;
  }

  .cos-logo__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
  }